<div class="projects add">
	<h1>Agregar Projectos a {{projects.brand}}</h1>
	<style>
	    .cropArea {
	      background: #E4E4E4;
	      overflow: hidden;
	      width:500px;
	      height:350px;
	    }
	  </style>
	<button back>Volver</button>
	<form name="projectForm" ng-submit="projects.add(projectForm.$valid)" novalidate>
		<div class="input text">
			<input type="text" placeholder="Nombre" name="name" ng-model="projects.proj.name" required minlength="3">
			<p ng-show="projectForm.name.$error.required && projectForm.$submitted" class="error">Debes ingresar un Nombre.</p>
			<p ng-show="projectForm.name.$error.minlength && projectForm.name.$touched && projectForm.name.$error.required != true" class="error">El campo debe tener mas de 3 carácteres.</p>
		</div>

		<div class="input text">
			<input type="text" placeholder="Descripción" ng-model="projects.proj.description" name="description" required minlength="3">
			<p ng-show="projectForm.description.$error.required && projectForm.$submitted" class="error">Debes ingresar una descripción.</p>
			<p ng-show="projectForm.description.$error.minlength && projectForm.description.$touched && projectForm.description.$error.required != true" class="error">El campo debe tener mas de 3 carácteres.</p>
		</div>

		<div class="input file">
			<div>Elegir imagen Projecto: <input type="file" id="fileInput" name="img" valid-file ng-model="projects.proj.img" required/></div>
			<p ng-show="projectForm.img.$error.required && projectForm.$submitted" class="error">Debes ingresar una imagen.</p>
			<div class="cropArea">
		    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
		  </div>
		  
		  <div><img ng-src="{{myCroppedImage}}" /></div>
		</div>

		<input type="submit" value="Add">
	</form>
</div>