<div class="brands index">
	<h1>Clientes</h1>

	<button back no-load="true" home="true">Volver</button>
	<ul>
		<li ng-repeat="brand in brands.allBrands">
			<p>{{brand.name}}</p>
			<p>{{brand.description}}</p>
			<p><img ng-src="{{brand.image.name}}" alt=""></p>
			<p><a href="/#/brands/ver" ng-click="brands.verBrand($event, brand.objectId)">Ver y Editar</a></p>
			<p><a href="/#/brands/eliminar" ng-click="brands.delete($event, brand.objectId, $index)">Eliminar</a></p>
			<p><a href="/#/projects/{{brand.name}}/id/{{brand.objectId}}">Projectos de {{brand.name}}</a></p>
		</li>

		<a href="/#/brands/add">Agregar Cliente</a>
	</ul>
</div>